<!DOCTYPE HTML>
    <html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="Portfolio,Kenneth,Wußmann,Wussmann,Spring,Boot,Spielwiese">
        <meta name="author" content="Kenneth Wußmann">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#151e42">
        <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
        <meta name="google-site-verification" th:attr="content=${@applicationConfiguration.googleSiteVerification}" />
        <link rel="stylesheet" href="/static/bundle.css">
    </head>
    <body>
        <div id="parallax">
            <div id="layer-0" data-depth="0.1"></div>
            <div id="layer-1" data-depth="0.15"></div>
            <div id="layer-2" data-depth="0.25"></div>
            <div id="layer-3" data-depth="0.3"></div>
        </div>

        <div th:replace="~{fragments/navbar :: navbar}"></div>

        <div th:replace="~{fragments/discord.modal :: modal}"></div>
        <div th:replace="~{fragments/cookie-notice :: cookie-notice}"></div>

        <div layout:fragment="content"></div>

        <div th:replace="~{fragments/footer :: footer}"></div>

        <script src="/static/bundle.js"></script>
    </body>
</html>