<thymeleaf xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
           th:fragment="modal" th:remove="tag">

    <div class="modal fade" id="discordModal" tabindex="-1" role="dialog" aria-labelledby="discordModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="discordModalLabel">Schreib mir auf Discord</h5>
                </div>
                <div class="modal-body">
                    <div class="discord-tag">
                        Kenneth#0001
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn"><i class="fas fa-times"></i> Hab ich, ich schwöre</button>
                </div>
            </div>
        </div>
    </div>

</thymeleaf>