<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{mail}">
    <head>
        <title>Deine Anfrage übers Kontaktformular</title>
    </head>
    <body layout:fragment="content">
        <div class="title" style="font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:600;color:#374550">Danke für deine Nachricht!</div>
        <br>

        <div class="body-text" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:20px;text-align:left;color:#333333">
            Dies ist nur eine automatische Bestätigung, dass deine Nachricht auch wirklich bei mir ankam.<br />
            Ich habe mich sicher sehr über deine Nachricht gefreut oder werde mich noch freuen.<br />
            So sehr wie ich mich gefreut habe (oder werde) schreibe ich dir sicher auch schnell zurück!<br />
            <br>
            Deine Nachricht:
            <p th:utext="${#strings.replace( #strings.escapeXml(email.message),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"></p>
        </div>
    </body>
</html>