<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{text}">
    <head>
        <meta charset="UTF-8">
        <title>Fehler!?</title>
    </head>

    <body>
        <th:block layout:fragment="title">Da ist ein Fehler aufgetreten!</th:block>
        <th:block layout:fragment="text">
            <p>Das hätte nicht passieren dürfen. Ist es aber, ich weiß...</p>
            <p>Passiert dir das häufiger? <a href="/contact">Sag mir gern bescheid!</a></p>
        </th:block>
    </body>
</html>