<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{text}">
    <head>
        <th:block th:replace="~{fragments/site-meta :: site-meta(title=${page.title}, description=${page.description})}"></th:block>
    </head>

    <body>
        <th:block layout:fragment="title" th:text="${page.headline}"></th:block>
        <th:block layout:fragment="text" th:utext="${page.markdownRendered}"></th:block>
    </body>
</html>