<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
    <head>
        <th:block th:replace="~{fragments/site-meta :: site-meta(title='Kenneth Wußmann', description='Portfolio Webseite von Kenneth Wußmann')}"></th:block>
    </head>
    <body>
        <div class="container" layout:fragment="content">
            <div class="avatar">
                <img class="avatar__img mx-auto d-block" src="/static/img/avatar.png" />
                <div class="avatar__name">Kenneth Wußmann</div>
                <div class="avatar__description">Junior Software Engineer</div>
            </div>
            <div class="section">
                <div class="section__header">
                    Projekte
                </div>

                <div class="section__cards">

                    <div class="row">

                        <div class="col-md-2"></div>

                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Portfolio</h5>
                                    <p class="card-text">Meine eigene kleine Spielwiese umgesetzt mit Spring Boot. Inklusive Kontaktformular und eigenem Captcha.</p>
                                    <div class="card-dots">
                                        <div class="kotlin">Kotlin</div>
                                        <div class="html">HTML</div>
                                        <div class="sass">Sass</div>
                                        <div class="typescript">TypeScript</div>
                                    </div>
                                    <a href="/page/project-portfolio" class="card-link btn btn-dark float-right"><i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2"></div>

                    </div>

                </div>
            </div>
        </div>
    </body>
</html>