.nav {
  margin-top: 20px;

  &-item {
    font-size: 30px;

    @include media("only-xsmall") {
      font-size: 27px;
    }

    i {
      transition: 0.5s;
      color: $red !important;
      
      &:hover {
        color: $white !important;
      }
    }

    &:nth-child(1) {
      @include bounceInDown(
              $delay: 0.4s
      );
    }
    &:nth-child(2) {
      @include bounceInDown(
              $delay: 0.45s
      );

    }
    &:nth-child(3) {
      @include bounceInDown(
              $delay: 0.50s
      );
    }
    &:nth-child(4) {
      @include bounceInDown(
              $delay: 0.55s
      );
    }
    &:nth-child(5) {
      @include bounceInDown(
              $delay: 0.6s
      );
    }
  }


}